        $primary-text-dark: #E0E0E0 ;
        $secondary-text-dark: #BBBBBB;
        $muted-text-dark: #666666;
        $link-text-dark: #1E90FF;
        $red-dark: #F44336;

        // light scheme

        $primary-text-light: #1b1b1b;
        $secondary-text-light: #333333;
        $muted-text-light: #888888;
        $link-text-light: #0066CC;
        $red-light: #D32F2F;